body {
    position: relative;
}

::selection {
    background: hsla(30, 100%, 50%, 1); /* WebKit/Blink Browsers */
    color: #ffffff;
}

::-moz-selection {
    background: hsla(30, 100%, 50%, 1); /* Gecko Browsers */
    color: #ffffff;
}

img {
    max-width: 100%;
    height:auto;
}

hr {
    width: 80%;
}

@media screen and (max-width: 401px) {
    .name {
        font-size: 4rem;
    }
    .title {
        font-size: 2.5rem;
    }
}

.bg-slate-gray {
    background-color: hsla(0, 0%, 20%, 1);
}

.bg-light-gray {
    background-color: hsla(0, 0%, 80%, 1);
}

.bg-slate-gray-darker {
    background-color: hsla(0, 0%, 8%, 1);
}

.bg-nearly-black {
    background-color: hsla(0, 0%, 3%, 1);
}

.bg-purple-blue {
    background-color: hsla(270, 91%, 24%, 1);
}

.bg-orange {
    background-color: hsla(30, 100%, 50%, 1);
}

.active {
    background-color: hsla(30, 100%, 50%, 1);
}

.fill-color-white {
    fill: hsla(0, 100%, 100%, 1);
    color: hsla(0, 100%, 100%, 1);
}

.courier-new {
    font-family: "Courier New", courier, sans-serif;
}

.source-code-pro {
    font-family: 'Source Code Pro', monospace;
}

.shadows-into-light {
    font-family: 'Shadows Into Light', cursive;
}

.navbar-hover li:hover{
    background-color: hsla(30, 100%, 50%, 1);
}

.navbar-a a{
    color: hsla(0, 100%, 100%, 1) !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    padding: 0.5rem 3.5rem !important;
}

.full-screen {
    height: 100vh;
}

#home hr {
    border-color: hsla(0, 100%, 100%, 1);
    width: 80%;
}

a:hover {
    color: hsla(30, 100%, 65%, 1);
    fill: hsla(30, 100%, 65%, 1);
    text-decoration: none;
}

.heading > span {
    border-bottom: 3px solid hsla(30, 100%, 50%, 1);
    padding-bottom: 6px !important;
    line-height: 50px;
}

.container-fluid h1, h2, h3, h4, h5, h6, p {
    margin-left: 1.8rem;
    margin-right: 1.8rem;
}

.social-media {
    font-size: 2rem;
}

#AboutMe, #Experience, #Education, #Skills, #Portfolio {
    min-height: 50vh;
}

#Footer {
    height: 10rem;
}

.table-hover-bg {
    background-color: #ccc;
}

.portfolio-hover button:hover {
    background-color: hsla(30, 100%, 65%, 1);
}

.progress {
    height: 1.75rem;
}

.progress-bar {
    height: 1.75rem;
}

#html:hover > div > h4 > i {
    color: #dd4b24;
}

#css:hover > div > h4 > i {
    color: #254bdc;
}

#grav:hover > div > h4 > i {
    color: #211d1e;
    background-color: #f7f7f7;
    border-radius: 10px;
}

#php:hover > div > h4 > i {
    background-color: #6b7cb0;
    border-radius: 59px / 50px;
    height: 23px;
}

#php > div > h4 > i {
    font-size: 1.6rem;
}

#js:hover > div > h4 > i {
    color: #e8d44d;
}

#nodejs:hover > div > h4 > i {
    color: #6d9c68;
}

#reactjs:hover > div > h4 > i {
    color: #00d2f7;
}

#python:hover > div > h4 > i {
    background: -webkit-linear-gradient(-60deg, #366a99 50%, #f8ca40 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#adobe:hover > div > h4 > i {
    color: #e71b24;
}

#mailchimp > div > h4 > i {
    padding-left: 3px;
}

#mailchimp:hover > div > h4 > i {
    background-color: #f7d919;
    border-radius: 4px;
    width: 26px;
}

#seo:hover > div > h4 > i {
    color: #38a656;
}

#git:hover > div > h4 > i {
    color: #e84d31;
}

.skill {
    text-decoration: none;
    color: #000000;
}

.skill:hover {
    text-decoration: none;
    color: #000000;
}

figure.qualification {
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 250px;
  height: 350px;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.qualification:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
figure.qualification * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
figure.qualification .image {
  max-height: 220px;
  overflow: hidden;
}
figure.qualification img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}
figure.qualification figcaption {
  margin: 0 15px 0;
  padding: 15px;
  position: relative;
  background-color: #ffffff;
}
figure.qualification .date {
  background-color: #ff7f00;
  top: 15px;
  color: #fff;
  left: 0;
  min-height: 48px;
  min-width: 48px;
  position: absolute;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
figure.qualification .date span {
  display: block;
  line-height: 24px;
}
figure.qualification .date .month {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}
figure.qualification h3,
figure.qualification p {
  margin: 0;
  padding: 0;
}
figure.qualification h3 {
  min-height: 50px;
  margin-bottom: 10px;
  margin-left: 45px;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
}
figure.qualification h4 {
    margin-left: 0;
    font-size: 1rem;
}
figure.qualification p {
  font-size: 0.9em;
  margin-bottom: 20px;
  line-height: 1.6em;
}
figure.qualification a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

