body {
    position: relative;
}

::selection {
    background: hsla(30, 100%, 50%, 1); /* WebKit/Blink Browsers */
    color: #ffffff;
}

::-moz-selection {
    background: hsla(30, 100%, 50%, 1); /* Gecko Browsers */
    color: #ffffff;
}

img {
    max-width: 100%;
    height:auto;
}

hr {
    width: 80%;
}

@media screen and (max-width: 401px) {
    .name {
        font-size: 4rem;
    }
    .title {
        font-size: 2.5rem;
    }
}

.bg-slate-gray {
    background-color: hsla(0, 0%, 20%, 1);
}

.bg-light-gray {
    background-color: hsla(0, 0%, 80%, 1);
}

.bg-slate-gray-darker {
    background-color: hsla(0, 0%, 8%, 1);
}

.bg-nearly-black {
    background-color: hsla(0, 0%, 3%, 1);
}

.bg-purple-blue {
    background-color: hsla(270, 91%, 24%, 1);
}

.bg-orange {
    background-color: hsla(30, 100%, 50%, 1);
}

.active {
    background-color: hsla(30, 100%, 50%, 1);
}

.fill-color-white {
    fill: hsla(0, 100%, 100%, 1);
    color: hsla(0, 100%, 100%, 1);
}

.courier-new {
    font-family: "Courier New", courier, sans-serif;
}

.source-code-pro {
    font-family: 'Source Code Pro', monospace;
}

.shadows-into-light {
    font-family: 'Shadows Into Light', cursive;
}

.navbar-hover li:hover{
    background-color: hsla(30, 100%, 50%, 1);
}

.navbar-a a{
    color: hsla(0, 100%, 100%, 1) !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    padding: 0.5rem 3.5rem !important;
}

.full-screen {
    height: 100vh;
}

#home hr {
    border-color: hsla(0, 100%, 100%, 1);
    width: 80%;
}

a:hover {
    color: hsla(30, 100%, 65%, 1);
    fill: hsla(30, 100%, 65%, 1);
    text-decoration: none;
}

.heading > span {
    border-bottom: 3px solid hsla(30, 100%, 50%, 1);
    padding-bottom: 6px !important;
    line-height: 50px;
}

.container-fluid h1, h2, h3, h4, h5, h6, p {
    margin-left: 1.8rem;
    margin-right: 1.8rem;
}

.social-media {
    font-size: 2rem;
}

#AboutMe, #Experience, #Education, #Skills, #Portfolio {
    min-height: 50vh;
}

#Footer {
    height: 10rem;
}

.table-hover-bg {
    background-color: #ccc;
}

.portfolio-hover button:hover {
    background-color: hsla(30, 100%, 65%, 1);
}

.progress {
    height: 1.75rem;
}

.progress-bar {
    height: 1.75rem;
}

#qualifications>div>h6 {
    margin-right: 2px;
}

#qualifications>div>p {
    margin-left: 2px;
}

#html:hover > div > h4 > i {
    color: #dd4b24;
}

#css:hover > div > h4 > i {
    color: #254bdc;
}

#grav:hover > div > h4 > i {
    color: #211d1e;
}

#php:hover > div > h4 > i {
    color: #6b7cb0;
}

#js:hover > div > h4 > i {
    color: #e8d44d;
}

#nodejs:hover > div > h4 > i {
    color: #6d9c68;
}

#reactjs:hover > div > h4 > i {
    color: #00d2f7;
}

#python:hover > div > h4 > i {
    background: -webkit-linear-gradient(-60deg, #366a99 52%, #f8ca40 48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#adobe:hover > div > h4 > i {
    color: #e71b24;
}

#mailchimp:hover > div > h4 > i {
    color: #f7d919;
}

#git:hover > div > h4 > i {
    color: #e84d31;
}
