@import "../colours";

.link {
  &--paragraph {
    color: var(--color-grey-500);
    transition: font-weight 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover,
    &:focus {
      color: var(--color-grey-50);
      font-weight: 700;
    }
  }
}
