@import "colours";

html {
  scroll-behavior: smooth;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  &:focus {
    outline-color: #fff;
  }
}

body {
  font-family: Verdana, Arial, sans-serif;
}

body,
nav {
  background-color: $dark-grey;
}

::selection {
  background-color: $orange;
  color: $off-white;
  text-shadow: none;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: lighten($orange, 10%);
  text-decoration: none;
  transition: all 0.4s ease-in-out;

  &:hover {
    color: $off-white;
    text-decoration: underline;
  }
}
