// Vendor Prefixes

@mixin background-clip($property) {
    -webkit-background-clip: $property;
            background-clip: $property;
}

@mixin box-shadow($property) {
    -webkit-box-shadow: $property;
            box-shadow: $property;
}

@mixin box-sizing($property){
    -webkit-box-sizing: $property;
            box-sizing: $property;
}

@mixin transform($property) {
    -webkit-transform: $property;
            transform: $property;
}

@mixin transition($property) {
    -webkit-transition: $property;
            transition: $property;
}