// My Colours

$primary-orange: #ff7f00;
$secondary-orange: #f87000;
$primary-black: #020202;


// Brand Colours

$flybmi-blue: #1787bc;
$tmd-orange: #f15a25;

$linked-in: #007bb5;
$codepen: #1e1e26;
$github: #24292d;
$stack-oveflow: #f58023;


// Skills

$html: #dd4b24;
$bootstrap: #543c78;
$css: #254bdc;
$sass: #c66495;
$less: #1f4471;
$grav-black: #211d1e;
$grav-white: #f7f7f7;
$javascript: #e8d44d;
$node-js: #6d9c68;
$npm: #cc3838;
$react-js: #00d2f7;
$vue-js: #41b783;
$python-blue: #366a99;
$python-yellow: #f8ca40;
$adobe: #e71b24;
$mailchimp: #f7d919;
$seo: #38a656;
$git: #e84d31;