.rich-text {
  :deep() {
    * {
      line-height: 1.5;
    }

    h2 {
      font-size: var(--text-subtitle);
      margin-top: 5rem;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: var(--text-heading);
      margin-top: 4rem;
      margin-bottom: 0.5rem;
    }

    h4 {
      font-size: var(--text-large);
      margin-top: 3rem;
      margin-bottom: 0.25rem;
    }

    h2, h3, h4, h5, h6 {
      a {
        color: inherit;
        text-decoration: none;
      }
    }

    p:empty {
      display: none;
    }

    hr {
      margin-block: 3rem;
    }
    
    ul,
    ol {
      margin-top: 0.75rem;
      margin-bottom: 1.5rem;
      padding-left: 1.5rem;
      
      p {
        margin: 0;
      }

      li {
        margin-block: 0.5rem;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}