@import "./variables";
@import "./mixins";

html {
    @include box-sizing(border-box);
}

*,
*:before,
*:after {
    @include box-sizing(inherit);
}

body {
    position: relative;
}

::selection {
    background: $primary-orange;
    color: #fff;
    text-shadow: none;
}

img {
	height:auto;
    max-width: 100%;
}

hr {
    width: 80%;
}

.background {
    background-color: $primary-black;
}

a {
	&:hover {
		color: $primary-orange;
		text-decoration: none;

		svg {
			fill: $primary-orange;
		}
	}
}

.heading {
  span {
	border-bottom: 3px solid $primary-orange;
	line-height: 50px;
    padding-bottom: 6px !important;
  }
}

section {
    min-height: 80vh;
}


/* Navbar */

.active {
    border: 3px $primary-orange solid !important;
}

.nav-item {
	&:hover {
		a {
			border-bottom: 3px $primary-orange solid;
		}
	}
}

.navbar-nav {
  a {
    border: 3px transparent solid;
	color: #fff !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
    padding: 0.5rem 3.5rem !important;
  }
}


/* Home */

.hero {
	background-color: $primary-black;
	height: 100vh;
}

.inner-text {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));

	@media only screen and (min-width: 320px) {
		padding-left: 15px;
		padding-right: 15px;
	}

	@media only screen and (min-width: 400px) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@media only screen and (min-width: 680px) {
		font-size: 75px;
	}

	@media only screen and (min-width: 950px) {
		font-size: 100px;
	}

	a {
		text-decoration: none;
		@include transition(all 0.3s ease);
	}
}

.name {
	color: #fff;
	font-size: 6rem;
	font-weight: bold;
	line-height: 1;
	margin: 0;

	@media only screen and (max-width: 480px) {
		font-size: 4rem;
		position: relative;
		top: 0.6rem;
	}

	span {
		color: $secondary-orange;
		font-weight: 100;
		line-height: 1;
		margin: 0;
	}
}

.job-title {
	color: $secondary-orange;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2;
	margin: 0;

	@media only screen and (max-width: 480px) {
		font-size: 1.8rem;
		margin-bottom: 10px;
		margin-top: 20px;
		position: relative;
		top: 0.6rem;
	}

	span {
		color: #fff;
		font-weight: 100;
		line-height: 2;
		margin: 0;

		@media only screen and (max-width: 480px) {
			margin-bottom: 10px;
			margin-top: 20px;
		}
	}
}

.intro {
	color: #fff;
	display: block;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.4rem;
	line-height: 1;
	margin: 0.8rem;

	@media only screen and (max-width: 480px) {
		font-size: 1.2rem;
		margin-bottom: 10px;
		margin-top: 20px;
		position: relative;
		top: 0.6rem;
	}
}

.hero-down {
	border-radius: 100%;
	color: #f5f5f5;
	font-size: 2em;
	height: 2em;
	margin: 0 -13px;
	position: absolute;
	top: 90vh;

	&:hover {
		color: #fff;
	}

	i {
		position: relative;
		top: 0.1rem;
		vertical-align: bottom;
	}
}

.#fff {
	color: #fff;
}

.social-icons-row {
	margin: 0 auto;
	width: 100%;

	a {
		&:hover {
			i {
				background-color: #fff;
			}

			.fa- {
				&codepen {
					color: $codepen;
				}

				&github {
					color: $github;
				}

				&linkedin-in {
					color: $linked-in;
				}

				&stack-overflow {
					color: $stack-oveflow;
				}
			}
		}

		i {
			border-radius: 3px;
			color: #fff;
			cursor: pointer;
			font-size: 2.9rem;
			margin: 0 20px;
			padding: 20px 30px;
			@include transition(all 500ms ease-in-out);

			@media only screen and (max-width: 550px) {
				font-size: 2.5rem;
				margin: 20px 10px;
				padding: 10px 10px;
			}
		}
	}
}


/* Experience */

#flybmi-logo {
	&:hover {
		cursor: help;
	}
}

#Experience {
	img {
		border-radius: 50%;
	}
}


/* Skills */

.progress {
	height: 1.75rem;
	
	&-bar {
		background-color: $primary-orange;
	}
}

#html {
	&:hover {
		i {
			color: $html;
		}
	}
}

#bootstrap {
	&:hover {
		i {
			color: $bootstrap;
		}
	}
}

#css {
	&:hover {
		i {
			color: $css;
		}
	}
}

#sass {
	&:hover {
		i {
			color: $sass;
		}
	}
}

#less {
	&:hover {
		i {
			color: $less;
		}
	}
}

#grav {
	&:hover {
		i {
			background-color: $grav-white;
			border-radius: 10px;
			color: $grav-black;
		}
	}
}

#js {
	&:hover {
		i {
			color: $javascript;
		}
	}
}

#nodejs {
	&:hover {
		i {
			color: $node-js;
		}
	}
}

#npm {
	&:hover {
		i {
			color: $npm;
		}
	}
}

#reactjs {
	&:hover {
		i {
			color: $react-js;
		}
	}
}

#vuejs {
	&:hover {
		i {
			color: $vue-js;
		}
	}
}

#python {
	&:hover {
		i {
			background: -webkit-linear-gradient(-60deg, $python-blue 50%, $python-yellow 50%);
			@include background-clip(text);
			-webkit-text-fill-color: transparent;
		}
	}
}

#adobe {
	&:hover {
		i {
			color: $adobe;
		}
	}
}

#mailchimp {
	i {
		padding-left: 3px;
	}

	&:hover {
		i {
			background-color: $mailchimp;
			border-radius: 4px;
			width: 26px;
		}
	}
}

#seo {
	&:hover {
		i {
			color: $seo;
		}
	}
}

#git {
	&:hover {
		i {
			color: $git;
		}
	}
}

#Skills {
	h4 {
		color: #000 !important;
		text-decoration: none !important;
		
		&:hover {
			color: #000 !important;
			text-decoration: none !important;
		}
	}
}

.subskills {
	h4, .progress {
		margin-left: 3.5rem;
	}
}


/* Qualifications */

.qualification {
	background-color: #fff;
	border-radius: 15px;
	color: #000;
	font-size: 16px;
	height: 350px;
	margin: auto;
	overflow: hidden;
	position: relative;
	text-align: left;
	width: 250px;
	@include box-shadow(0 0 5px rgba(0, 0, 0, 0.15));

	&:hover {
		@include box-shadow(0 0 35px rgba(0, 0, 0, 0.2));
	}

	* {
		@include transition(all 0.3s ease);
	}

	.image {
		max-height: 220px;
		overflow: hidden;
	}

	img {
		max-width: 100%;
		position: relative;
		vertical-align: top;
	}

	figcaption {
		background-color: #fff;
		margin: 0 15px 0;
		padding: 15px;
		position: relative;
	}

	.date {
		background-color: $secondary-orange;
		color: #fff;
		font-size: 18px;
		font-weight: 700;
		left: 0;
		min-height: 48px;
		min-width: 48px;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		top: 15px;

		span {
			display: block;
			line-height: 24px;
		}

		.month {
			background-color: rgba(0, 0, 0, 0.1);
			font-size: 16px;
		}
	}

	h3, p {
		margin: 0;
		padding: 0;
	}

	h3 {
		display: inline-block;
		font-size: 1rem;
		font-weight: 600;
		margin-bottom: 10px;
		margin-left: 45px;
		min-height: 50px;
	}

	h4 {
		font-size: 1rem;
		margin-left: 0;
	}

	p {
		font-size: 0.9em;
		line-height: 1.6em;
		margin-bottom: 20px;
	}

	a {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}
}



/* Portfolio */

.portfolio {
	button {
		&:hover {
			background-color: $primary-orange;
			border-radius: 4px;
		}
	}

	&-item {
		background: #fff;
		color: #fff;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		width: 100%;

		&:hover {
			img {
				opacity: 0.5;
			}

			figcaption {
				.right, .left {
					h3 {
						opacity: 1;
						@include transform(translate(0%, 0px));
					}
				}
			}

			.center {
				opacity: 1;
				@include transform(translate(-50%, -50%) rotate(45deg));

				i {
					@include transform(translate(0%, -10px));
				}
			}
		}

		h3 {
			margin: {
				left: 0.8rem;
				right: 0.8rem;
			}
		}

		img {
			border-radius: 8px;
			opacity: 1;
			position: relative;
			@include transition(opacity 0.35s);
		}

		.center {
			background-color: #000;
			border-radius: 5px;
			content: '';
			display: block;
			height: 70px;
			left: 50%;
			opacity: 0;
			position: absolute;
			text-align: center;
			top: 50%;
			width: 70px;
			@include box-shadow(0 0 10px rgba(0, 0, 0, 0.85));
			@include transform(translate(-50%, -50%) rotate(0deg));
			@include transition(all 0.4s);

			i {
				color: #fff;
				font-size: 2rem;
				line-height: 70px;
				opacity: 0.3;
			}
		}

		figcaption {
			height: 100%;
			left: 0;
			position: absolute;
			text-align: left;
			top: 0;
			width: 100%;

			div {
				float: left;
				height: 100%;
				overflow: hidden;
				position: relative;
				width: 50%;
			}

			a {
				opacity: 0.7;

				&:hover {
					opacity: 1;
				}
			}

			h3 {
				background-color: #222;
				font-size: 0.8rem;
				font-weight: 800;
				opacity: 0;
				position: absolute;
				text-transform: uppercase;
				-webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
						transition: opacity 0.45s, -webkit-transform 0.45s;
			}

			.left {
				h3 {
					border-radius: 5px 0 0 5px;
					padding: 4px 35px 4px 10px;
					right: 0;
					top: 50%;
					@include transform(translate(100%, 0px));
				}
			}

			.right {
				h3 {
					border-radius: 0 5px 5px 0;
					bottom: 50%;
					padding: 4px 10px 4px 30px;
					@include transform(translate(-100%, 0px));
				}
			}
		}

		a {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		.tmd-orange {
			background-color: $tmd-orange;
		}

		.bmi-blue {
			background-color: $flybmi-blue;
		}

		.white {
			background-color: #fff;
			color: #444;
		}
	}
}

.modal-footer {
	i {
		color: #000;
		font-size: 2rem;
		  
		&:hover {
			color: $tmd-orange;
		}
	}
}


/* Footer */

footer {
	max-height: 100%;
    min-height: 6rem;

	a {
		color: #fff;
	}
}

.codecademy {
	svg {
		fill: #fff;
		position: relative;
		top: -3px;
		width: 3.2rem;
	}
}
