@import "../colours";

.home {
  height: 100vh;
  text-align: center;

  &__inner-text {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    @media only screen and (min-width: 320px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media only screen and (min-width: 400px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media only screen and (min-width: 680px) {
      font-size: 75px;
    }

    @media only screen and (min-width: 950px) {
      font-size: 100px;
    }

    &__name {
      font-size: 6rem;
      line-height: 1;
      text-transform: uppercase;

      @media only screen and (max-width: 480px) {
        font-size: 4rem;
        position: relative;
        top: 0.6rem;
      }
    }

    &__job-title {
      font-size: 2.4rem;
      line-height: 2;

      @media only screen and (max-width: 480px) {
        font-size: 1.8rem;
        margin-bottom: 10px;
        margin-top: 20px;
        position: relative;
        top: 0.6rem;
      }
    }

    &__intro {
      font-family: 'Gloria Hallelujah', cursive;
      font-size: 1.4rem;
      line-height: 1;
      margin: 0.8rem;

      @media only screen and (max-width: 480px) {
        font-size: 1.2rem;
        margin-bottom: 10px;
        margin-top: 20px;
        position: relative;
        top: 0.6rem;
      }
    }

    &__social-icons {
      margin: 0 auto;
      width: 100%;

      &__link {
        border-radius: 3px;
        font-size: 2.9rem;
        margin: 0 20px;
        padding: 20px 30px;
        transition: all 500ms ease-in-out;

        @media only screen and (max-width: 550px) {
          font-size: 2.5rem;
          margin: 20px 10px;
          padding: 10px 10px;
        }

        &:hover {
          background-color: #fff;

          .fa- {
            &codepen {
              color: #1e1e26;
            }

            &github {
              color: #24292d;
            }

            &linkedin-in {
              color: #007bb5;
            }

            &stack-overflow {
              color: #f58023;
            }
          }
        }
      }
    }
  }
}
