@import "../colours";

.navbar {
  $navbar__list-item__link--padding-y: 0.6rem;
  $navbar__list-item__link--padding-x: 2rem;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  user-select: none;
  z-index: 1030;

  &__list {
    font-size: 20px;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    &-item {
      display: inline-block;
      height: 100%;
      text-align: center;

      &__link {
        border: 3px solid transparent;
        display: block;
        height: 100%;
        padding: $navbar__list-item__link--padding-y $navbar__list-item__link--padding-x;
        text-decoration: none !important;
        transition: border-bottom-color 0.5s ease-in-out;
        width: 100%;

        &:hover {
          border-bottom-color: $orange;
        }
      }
    }
  }

  &__icon {
    cursor: pointer;
    display: none;
    font-size: 2rem;
    padding: 12px;
  }

  @media (max-width: 600px) {
    &__list {
      display: none;
      float: none;

      &-item {
        display: block;
        padding: 0 $navbar__list-item__link--padding-x;
        text-align: left;

        &__link {
          padding: $navbar__list-item__link--padding-y 0;
        }
      }
    }

    &__icon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    &.responsive {
      border-radius: 0 0 8px 8px;
      box-shadow: 0 1px 50px fade_out($light-grey, 0.5);
      height: auto;

      .navbar__list {
        display: block;
      }
    }
  }
}
