@import "../colours";

.projects {
  &__table {
    border-collapse: collapse;

    &-wrapper {
      overflow-x: auto;
    }

    &__body {
      tr:nth-child(odd) {
        background-color: fade_out($light-grey, 0.9);
      }
    }

    &__header {
      text-align: center;
    }

    &__cell {
      text-align: left;
    }

    &__header,
    &__cell {
      padding: 15px;
      vertical-align: middle;
    }
  }

  &__table,
  &__table__header,
  &__table__cell {
    border: 1px solid #fff;
  }
}
