.blockquote {
  background-color: var(--colour-foreground-1);
  margin: 0;
  padding: 1.5rem 3rem;
  position: relative;
  box-shadow: var(--shadow-standard);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  > * {
    position: relative;
    z-index: 1;
    margin: 0;
  }

  &::before,
  &::after {
    position: absolute;
    color: var(--colour-primary);
    font-size: 2.5rem;
    z-index: 0;
  }

  &::before {
    content: '❝';
    top: 0.5rem;
    left: 1rem;
  }

  &::after {
    content: '❞';
    bottom: 0;
    right: 1rem;
  }
}