:root {
  --color-white: #fff;
  --color-black: #000;

  --color-grey-dark: #393939;
  --color-grey: #747474;
  --color-grey-light: #bebebe;

  --color-orange: #FF7F21;
  --color-blue: #22E9FF;
}

.theme--light {
  --color-orange: #ff5a0a;
  --color-blue: #2E31FF;
}