:root {
  --color-white: #fff;
  --color-black: #000;

  --color-grey-dark: #393939;
  --color-grey: #747474;
  --color-grey-light: #bebebe;

  --color-orange: #ff7f21;
  --color-blue: #22e9ff;
}

.theme--light {
  --color-orange: #ff5a0a;
  --color-blue: #2e31ff;
}