:root {
  --color-white: #fff;
  --color-black: #000;

  --color-grey-dark: #393939;
  --color-grey: #747474;
  --color-grey-light: #bebebe;

  --color-orange-deep: #ff5a0a;
  --color-orange-faint: #f3843d;
  --color-orange-light: #f90;

  --color-blue: #1794ff;
  --color-blue-dark: #0945E8;

  --color-green: #17ff6b;
  --color-green-dark: #19b351;

  --color-red: #ff2117;
};