$font-family-roboto-mono: 'Roboto Mono';
$roboto-mono-weights: (
  "Medium": 500,
  "Bold": 700
);

$font-family-roboto: 'Roboto';
$roboto-weights: (
  "Thin": 300,
  "Regular": 400,
  "Bold": 700
);

:root {
  --font-family-roboto-mono: '#{$font-family-roboto-mono}', "Courier New", Courier, monospace;
  --font-family-roboto: '#{$font-family-roboto}', Arial, Helvetica, sans-serif;
}

@each $name, $weight in $roboto-mono-weights {
  @font-face {
    font-family: '#{$font-family-roboto-mono}';
    src:
      local('#{$font-family-roboto-mono}'),
      url(~assets/fonts/RobotoMono/RobotoMono-#{$name}.woff2) format('woff2'),
      url(~assets/fonts/RobotoMono/RobotoMono-#{$name}.woff) format('woff'),
      url(~assets/fonts/RobotoMono/RobotoMono-#{$name}.ttf) format('truetype');
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@each $name, $weight in $roboto-weights {
  @font-face {
    font-family: '#{$font-family-roboto}';
    src:
      local('#{$font-family-roboto}'),
      url(~assets/fonts/Roboto/Roboto-#{$name}.woff2) format('woff2'),
      url(~assets/fonts/Roboto/Roboto-#{$name}.woff) format('woff'),
      url(~assets/fonts/Roboto/Roboto-#{$name}.ttf) format('truetype');
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: '#{$font-family-roboto}';
    src:
      local('#{$font-family-roboto}'),
      url(~assets/fonts/Roboto/Roboto-#{$name}-Italic.woff2) format('woff2'),
      url(~assets/fonts/Roboto/Roboto-#{$name}-Italic.woff) format('woff'),
      url(~assets/fonts/Roboto/Roboto-#{$name}-Italic.ttf) format('truetype');
    font-weight: $weight;
    font-style: italic;
    font-display: swap;
  }
}