:root {
  --body-background: var(--color-grey-dark);
  --body-color: var(--color-white);
  --body-font-weight: 300;

  --font-family: sans-serif;
  --font-stack: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", var(--font-family);
}

.theme--light {
  --body-background: var(--color-white);
  --body-color: var(--color-grey-dark);
  --body-font-weight: 400;
}


::selection {
  text-shadow: none;
  color: var(--color-white);
  background-color: var(--color-orange);
}

html {
  font-family: var(--font-family);
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 15vmin;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none !important;
    animation: none !important;
  }
}

body {
  font-family: 'Open Sans', var(--font-stack);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
  color: var(--body-color);
  font-size: 0.9rem;
  font-weight: var(--body-font-weight);

  @media screen and (min-width: 30em) {
    font-size: 1rem;
  }
}

strong {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend strong;
  font-family: exo, var(--font-stack);
}

h1 {
  font-size: 2rem;

  @media screen and (min-width: 30em) {
    font-size: 2.2rem;
  }
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

button {
  color: inherit;
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  pointer-events: none;
}

a:not(.btn) {
  color: var(--color-blue);
  transition: all 160ms ease;

  &:hover,
  &:focus {
    color: var(--color-orange);
  }
}

hr {
  border: 1px solid transparent;
  border-radius: 50%;
  border-top-color: currentColor;
  margin: 1.8rem 0;
  width: 100%;
}

code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 90%;
  color: var(--color-orange);
}

pre {
  code {
    color: currentColor;
  }
}

li {
  line-height: 1.5;
}

.twitter-tweet {
  width: 100% !important;
  margin: 1.5rem auto !important;
  display: table !important;

  > iframe {
    width: 100% !important;
    max-width: 40rem !important;
    margin: 0 auto !important;
  }
}

.cp_embed_iframe  {
  height: 40rem;
  max-height: 80vh;
  min-height: 20rem;
  width: 100%;
}