::selection {
  text-shadow: none;
  color: #fff;
  background-color: #00f;
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
}