:root {
  --body-background: var(--color-grey-dark);
  --body-color: var(--color-white);

  @media (prefers-color-scheme: light) {
    --body-background: var(--color-white);
    --body-color: var(--color-grey-dark);
  }
}

::selection {
  text-shadow: none;
  color: var(--color-white);
  background-color: var(--color-blue);
}

*:focus {
  box-shadow: 0 0 0 4px var(--color-blue);
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
  color: var(--body-color);
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
}