.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shine {
  position: relative;

  &::before {
    background: linear-gradient(
      to right,
      fade_out(#fff, 1) 0%,
      fade_out(#fff, 0.7) 100%
    );
    content: "";
    display: block;
    height: 100%;
    left: -75%;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    width: 50%;
    z-index: 2;
  }

  &:hover,
  &:focus {
    &::before {
      animation: Shine 0.85s;
    }
  }

  @keyframes Shine {
    100% {
      left: 125%;
    }
  }
}