.link,
a:not([class]),
a[class=""] {
  --link-color: var(--color-accent);
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}