:root {
  --colour-table-shadow: #c3c3c5;
}

.theme--dark {
  --colour-table-shadow: #3f3f3f;
}

.table-wrapper {
  background-attachment: local, local, scroll, scroll;
  background-image:
    linear-gradient(to right, var(--colour-foreground-1), rgb(255 255 255 / 0%)),
    linear-gradient(to left, var(--colour-foreground-1), rgb(255 255 255 / 0%)),
    linear-gradient(to right, var(--colour-table-shadow), rgb(195 195 197 / 0%)),
    linear-gradient(to left, var(--colour-table-shadow), rgb(195 195 197 / 0%));
  background-position: 0 0, 100% 0, 0 0, 100% 0;
  background-repeat: no-repeat;
  background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
  margin-block: 2rem;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #aaa;
  }
  
  thead {
    background-color: var(--colour-primary);
    color: var(--colour-text-button);
  }
  
  th, td {
    padding: 0.5rem;
  }
  
  tbody tr {
    &:hover {
      background-color: var(--colour-primary-faint);
    }
  }
}
