.tag {
  background-color: var(--colour-primary-faint);
  color: var(--colour-primary);
  font-weight: 700;
  font-size: var(--text-small);
  display: inline-flex;
  padding: 0.1875rem 0.5rem;

  &--inverted {
    color: var(--colour-primary);
    font-weight: 300;
    font-size: var(--text-small);
    text-transform: uppercase;
    display: inline-flex;
  }
}