:root {
  --hljs-comment: #d4d0ab;
  --hljs-red: #ffa07a;
  --hljs-orange: #f5ab35;
  --hljs-yellow: #ffd700;
  --hljs-green: #abe338;
  --hljs-blue: #00e0e0;
  --hljs-purple: #dcc6e0;
  --hljs-bg: #333;
  --hljs-color: #f8f8f2;

  @media (prefers-color-scheme: light) {
    --hljs-comment: #696969;
    --hljs-red: #d91e18;
    --hljs-orange: #aa5d00;
    --hljs-yellow: #aa5d00;
    --hljs-green: #008000;
    --hljs-blue: #007faa;
    --hljs-purple: #7928a1;
    --hljs-bg: #eee;
    --hljs-color: #545454;
  }
}

/* Comment */
.hljs-comment,
.hljs-quote {
  color: var(--hljs-comment);
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: var(--hljs-red);
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: var(--hljs-orange);
}

/* Yellow */
.hljs-attribute {
  color: var(--hljs-yellow);
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: var(--hljs-green);
}

/* Blue */
.hljs-title,
.hljs-section {
  color: var(--hljs-blue);
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: var(--hljs-purple);
}

pre {
  display: block;
  overflow-x: auto;
  background-color: var(--hljs-bg);
  color: var(--hljs-color);
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
        color: highlight;
    }

    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: bold;
    }
}
