/* Styles specific to lang="md" */

:root {
  --blockquote-accent: var(--color-orange);
}

.theme--light {
  --blockquote-accent: var(--color-orange);
}

.markdown {
  p {
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 1.5rem 0;
  
    @media screen and (min-width: 30em) {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }

  > p {
    font-weight: 700;
  }

  h2, h3, h4, h5, h6 {
    margin: 4rem 0 2rem 0;
  }

  h2 {
    font-size: 1.8rem;

    @media screen and (min-width: 30em) {
      font-size: 2rem;
    }
  }

  h3 {
    font-size: 1.3rem;

    @media screen and (min-width: 30em) {
      font-size: 1.5rem;
    }
  }

  figure {
    margin: 2.5rem 0;

    figcaption {
      text-align: center;
      font-style: italic;
      opacity: 0.8;
      font-size: 90%;
      margin-top: 0.7rem;
      overflow-wrap: anywhere;
    }
  }

  iframe {
    margin: 3rem 0;
    height: 40rem;
    width: 100%;
  }
  
  blockquote {
    font-style: italic;
    padding: 1.2em 1.875rem 1.2em 2.6875rem;
    border-left: 8px solid var(--blockquote-accent);
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    margin: 1.5rem 0;
  
    &::before{
      font-family: serif;
      content: "\201C";
      color: var(--blockquote-accent);
      font-size: 3rem;
      position: absolute;
      left: 0.325rem;
      top: 0.325rem;
    }
  
    @media screen and (min-width: 35em) {
      padding-left: 4.6875rem;
  
      &::before {
        left: 0.625rem;
        top: 0.625rem;
      }
    }
  
    p {
      margin: 0;
    }
  
    span {
      font-style: normal;
      font-weight: 700;
    }
  }
}