@import "../colours";

.browser-upgrade {
  background-color: #ffae42;
  color: $dark-grey;
  font-size: 14px;
  padding: 2px 0;
  position: fixed;
  text-align: center;
  top: 31px;
  width: 100%;
  z-index: 1030;

  a {
    color: $dark-grey;
    text-decoration: underline;
  }
}
