// Colours shared across themes

$color-black: #000;
$color-grey-darkest: #101010;
$color-white: #fff;
 
:root {
  --color-white: #{$color-white};
  --color-grey-darkest: #{$color-grey-darkest};
  --color-black: #{$color-black};
}