$light-colour-primary: #f54c0f;
$light-colour-accent: #1b78a8;
$light-text-primary: #27242b;

$light-theme-colours: (
  primary: #{$light-colour-primary},
  primary-faint: mix($light-colour-primary, #fff, 10%),
  accent: #{$light-colour-accent},
  highlight: fade_out($light-colour-accent, 0.7),
  error: #de1d02,
  success: #168333,
  text-primary: #{$light-text-primary},
  text-secondary: #8a898e,
  text-button: #fff,
  text-button-inverse: #{$light-text-primary},
  background: #fBfAf9,
  foreground-1: #fff
);

:root {
  @each $name, $hex in $light-theme-colours {
    --colour-#{$name}: #{$hex};
  }
}
