$orange-500: #ff7f00;
$blue: #00c7d3;
$pink: #ff46f1;

$grey-50: #fff;
$grey-75: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eaeaea;
$grey-300: #e1e1e1;
$grey-400: #cacaca;
$grey-500: #b3b3b3;
$grey-600: #8e8e8e;
$grey-700: #6e6e6e;
$grey-800: #4b4b4b;
$grey-900: #2c2c2c;
