$colour-orange: #ff7f00;
$colour-blue: #00c7d3;
$colour-pink: #ff46f1;

$grey-0: #fff;
$grey-1: #eee;
$grey-2: #ddd;
$grey-3: #ccc;
$grey-4: #bbb;
$grey-5: #aaa;
$grey-6: #999;
$grey-7: #888;
$grey-8: #777;
$grey-9: #666;
$grey-10: #555;
$grey-11: #444;
$grey-12: #333;
$grey-13: #222;
$grey-14: #111;
$grey-15: #000;
