name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm 10
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node 24
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'

      - name: Get dotenv secrets
        run: |
          touch .env
          echo NUXT_BASE_URL = ${{ secrets.NUXT_BASE_URL }} >> .env

      - name: Clean install Node dependencies
        run: pnpm install --frozen-lockfile

      - name: Run unit tests
        run: pnpm run test

      - name: Check generate files
        run: pnpm run generate
